@model List<HistoricoAlugueisViewModel>

<section class="container d-flex align-content-center justify-content-center flex-column" style="height:100vh;margin-top:35%">
    @if (Model != null && Model.Any())
    {
        <h4 class="mb-4 text-center">Histórico de Aluguéis</h4>
        <div class="card-container">
            @foreach (var historico in Model)
            {
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">@historico.Nome</h5>
                            <hr>
                            <p class="card-text">
                                <strong>Telefone:</strong> @historico.Telefone<br />
                                <strong>Email:</strong> @historico.Email<br />
                                <strong>CEP:</strong> @historico.CEP<br />
                                <strong>Bairro:</strong> @historico.Bairro<br />
                                <strong>Rua:</strong> @historico.Rua<br />
                                <strong>Data Inicial:</strong> @historico.DataInicial<br />
                                <strong>Data Final:</strong> @historico.DataFinal<br />
                                <strong>ID do Aluguel:</strong> @historico.AluguelId<br />
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Produtos Alugados</h6>
                            <ul class="list-group list-group-flush text-center">
                                @foreach (var produto in historico.Produtos)
                                {
                                    <li class="list-group-item btn bg-black text-white">@produto.Nome - @produto.Preco.ToString("c")</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3 class="text-center btn btn-primary font-weight-bold ">Nenhum histórico de aluguel encontrado.</h3>
    }
</section>

<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        max-width: 100%; /* Definindo a largura máxima do container */
        margin: 0 auto; /* Centralizando o container */
    }

    .col-md-6 {
        width: 50%; /* Definindo o tamanho das colunas */
    }
</style>