@model TccMvc.ViewModel.DetalhesProdutoViewModel
<style>
    .link {
        color: white;
        text-decoration: none;
    }

    .color {
        background-color: #EED881;
    }
</style>
<section class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; margin-top:15%; margin-bottom:2%">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="mb-2">@Model.Produto.Nome</h3>
        <img class="img-fluid rounded mb-2" src="data:image;base64,@Model.Produto.ImagemUrl" style="width:400px;height:400px" />
        <p class="fs-4 text mb-2 fw-bolder">@Model.Produto.Descricao</p>
        <p class="fs-5 text mb-2">@Model.Produto.DescricaoDetalhada</p>
        <p class="fs-5 text mb-3">@Model.Produto.Preco.ToString("c")</p>

        <div class="btn-group" role="group">
            <a class="btn px-3 btn-primary link" asp-controller="Produto" asp-action="List">Voltar</a>
            <a type="button"
               class="btn color px-4 ml-3 link"
               asp-controller="CarrinhoDeCompras"
               asp-action="AdicionarItemAoCarrinhoCompra"
               asp-route-produtoId="@Model.Produto.Id">
                <img src="~/Images/carrinho-de-compras-de-design-xadrez.png" style="width:20px; height:20px;" />
            </a>
        </div>
    </div>
</section>

